numpy==1.26.1
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==8.9.4.25
pandas==2.1.2
python-dateutil==2.8.2
pytz==2023.3.post1
six==1.16.0
torch==2.1.0
typing_extensions==4.8.0
